{% extends "base.html" %}

{% block head_title %}Your Weigh-ins! | {{ block.super }}{% endblock head_title %}

{% block content %}

<h2>Log Your Weight</h2>
{% if form.errors %}
	{{ form.errors }}
{% endif %}

<form method='POST'> {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Save</button>
</form>

<hr>

<h3>Your Weight Logs</h3>
<ul style="list-style-type:none">
{% for obj in object_list %}
    <li>
		<h4>{{ obj.log_datetime }}</h4>
		{{ obj.weight }} {{ obj.units }} {{ obj.log_datetime.time }}
	</li>
{% endfor %}
</ul>





{% endblock %}