{% extends "base.html" %}

{% block head_title %}Your Weigh-ins! | {{ block.super}}{% endblock head_title %}

{% block content %}


<h2>Log a Sleep Session</h2>
{% if form.errors %}
	{{ form.errors }}
{% endif %}

<form method='POST'> {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Save</button>
</form>

<hr>

<h3>Your Sleep Logs</h3>
<ul style="list-style-type:none">
{% for obj in object_list %}
    <li>
    	<h4>{{ obj.starttime.date }}</h4>
    	Quality: {{ obj.quality }}<br/>
    	{{ obj.get_duration.hours }}hrs {{ obj.get_duration.minutes }}min
	</li>
{% endfor %}
</ul>



{% endblock %}