{% extends "base.html" %}

{% block head_title %}About || {{ block.super }}{% endblock head_title %}



{% block content %}
<h1>About</h1>
AIdisson is a AI assistant designed to improve your personal health impact. As you interact with AIdisson in your day to day life, AIdisson will learn how you react to your Diet, Exercise, and Sleep. Over time AIdisson will help you mold your habits, so you can meet your peak potential.


<h3>Contact</h3>
<a href='mailto:femihighvoltage@gmail.com'>Email us</a>
{% endblock  %}